.figure {
  flex-direction: column;
  margin-right: 10px;
  margin-bottom: 50px;
  font-family: 'Tahomab';
}
.figure__rmargin {
  margin-right: 0;
}
.figure_figcaption {
  margin: -3px;
  text-align: center;
}
