/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
@import url(logo.css);
@import url(figure.css);
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: 'Tahoma';
  src: url("../css/fonts/tahoma.ttf");
}
@font-face {
  font-family: 'Tahomab';
  src: url("../css/fonts/tahomabd.ttf");
}
* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #282828;
}

.page {
  margin: 15px auto;
  width: 830px;
  background: url("../img/bgr.png") no-repeat;
  background-size: cover;
  padding: 50px 65px 30px 65px;
  box-shadow: 0 3px 1px #1e1e1e;
  color: #e6e6e6;
  font-family: 'Tahoma';
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.header_address {
  margin-bottom: 17px;
  margin-right: 5px;
  font-size: 9px;
}
.header_address_item a {
  text-decoration: none;
  color: #e6e6e6;
}
.header_address_item__size {
  margin-bottom: 5px;
  font-family: 'Tahomab';
  font-size: 11px;
}
.header_address_item__bmarg {
  margin-bottom: 2px;
}

.main {
  margin-top: -6px;
}

.content {
  display: flex;
  flex-flow: row wrap;
}

.footer {
  margin-top: 183px;
  text-align: center;
  font-size: 10px;
}
